#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };


#define AGRA &uc 0xE0 0xC0 // à À
#define EACU &uc 0xE9 0xC9 // é É
#define EGRA &uc 0xE8 0xC8 // è È
#define IGRA &uc 0xEC 0xCC // ì Ì
#define OGRA &uc 0xF2 0xD2 // ò Ò
#define UGRA &uc 0xF9 0xD9 // ù Ù
#define DEGS &uc 0xB0 0    // ù Ù

ZMK_LEADER_SEQUENCE(agra, AGRA, A)
ZMK_LEADER_SEQUENCE(egra, EGRA, E)
ZMK_LEADER_SEQUENCE(eacu, EACU, N)
ZMK_LEADER_SEQUENCE(igra, IGRA, I)
ZMK_LEADER_SEQUENCE(ogra, OGRA, O)
ZMK_LEADER_SEQUENCE(ugra, UGRA, U)

ZMK_LEADER_SEQUENCE(degs, DEGS, D E G)

ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)